@media only screen and (max-width: 1580px) {
  .mix-item {
    width: 400px;
  }
  .small-item {
    width: 365px;
  }
  .big-item {
    width: 485px;
  }
}
@media only screen and (max-width: 1500px) {
  .mix-item {
    width: 375px;
  }
  .small-item {
    width: 340px;
  }
  .big-item {
    width: 460px;
  }
}
@media only screen and (max-width: 1435px) {
  .mix-item {
    width: 350px;
  }
  .small-item {
    width: 315px;
  }
  .big-item {
    width: 430px;
  }
}
@media only screen and (max-width: 1345px) {
  .mix-item {
    width: 325px;
  }
  .small-item {
    width: 290px;
  }
  .big-item {
    width: 400px;
  }
}
@media only screen and (max-width: 1265px) {
  .mix-item {
    width: 300px;
  }
  .small-item {
    width: 265px;
  }
  .big-item {
    width: 370px;
  }
  
}